{% extends "halaman/base.html" %}

{% load static %}

{% block content %}

<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static "halaman/assets/img/bg10.jpg" %}');">
    
</div>

<div class="main main-raised">
    <div class="container">
        <div class="section section-text">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {% if artikel.thumbnail.url %}
                    <img style="width: 100%;" src="{{ artikel.thumbnail.url }}" alt="">
                    {% else %}
                        <img class="img img-raised" src="{% static 'halaman/assets/img/image_placeholder.jpg' %}" />
                    {% endif %}
                    <h3 class="title">{{ artikel.judul }}</h3>
                    <p>{{ artikel.isi|safe }}</p>

                    <blockquote>
                        <small>
                        Created by 
                        {{ artikel.author }}
                        </small>
                    </blockquote>
                </div>  
            </div>
        </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="blog-tags mb-5">
                                Kategori:
                                <span class="label label-primary">{{ artikel.kategori }}</span>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
    </div>
</div>

{% endblock content %}